@model HotelManagementSystem.ViewModel.RoomViewModel
@{
    ViewBag.Title = "Index";
}


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#txtRoomId").val("0");
        LoadRoomDetails();
        $("#btnSave").click(function () {
            if (!$("#formRoom").valid()) {
                return;
            }
            SaveRoomData();
        });
    });

    function DeleteRoom(roomId) {
        var result = confirm("Are You Sure To Delete This Record?");
        if (result === false) {
            return false;
        }
        $.ajax({
            async: true,
            type: "GET",
            dataType: "JSON",
            contentType: "application/json; charset=utf-8",
            data: { roomId: roomId },
            url: "/Room/DeleteRoomDetails",
            success: function (data) {
                if (data.success === true) {
                    alert(data.message);
                    LoadRoomDetails();
                }
            },
            error: function () {
                alert("There Is Some Problem For Your Process");
            }
        })
    }
    function EditRoom(roomId) {
        $.ajax({
            async: true,
            type: "GET",
            dataType: "JSON",
            contentType: "application/json; charset=utf-8",
            data: { roomId: roomId },
            url: "/Room/EditRoomDetails",
            success: function (data) {
                $("#txtRoomNumber").val(data.RoomNumber);
                $("#txtRoomPrice").val(data.RoomPrice);
                $("#ddBookingStatus").val(data.BookingStatusId);
                $("#ddRoomType").val(data.RoomTypeId);
                $("#txtRoomCapacity").val(data.RoomCapacity);
                $("#txtRoomDiscription").val(data.RoomDescription);
                $("#txtRoomId").val(data.RoomId);
                $("#imgRoom").attr('src', "../RoomImages/" + data.RoomImage);
                $("#divAddRoom").modal({ show: true });
                $("#btnSave").val('Update');

            },
            error: function () {
                alert("There Is Some Problem For Your Process");
            }
        })
    }

    function SaveRoomData() {
        var fromData = new FormData;
        fromData.append("RoomId", $("#txtRoomId").val());
        fromData.append("RoomNumber", $("#txtRoomNumber").val());
        fromData.append("RoomPrice", $("#txtRoomPrice").val());
        fromData.append("BookingStatus", $("#ddBookingStatus").val());
        fromData.append("RoomType", $("#ddRoomType").val());
        fromData.append("RoomCapacity", $("#txtRoomCapacity").val());
        fromData.append("RoomDiscription", $("#txtRoomDiscription").val());
        fromData.append("Image", $("#UploadImage").get(0).files[0]);


        $.ajax({
            async: true,
            type: "POST",
            contentType: false,
            processData: false,
            data: fromData,
            success: function (data) {
                if (data.success === true) {
                    alert(data.message);
                    ResetRoomInformation();
                    LoadRoomDetails();
                }
            },
            error: function () {
                alert('There is some error,Please try after sometimes.');
            }

        });
    }

    function LoadRoomDetails() {
        $.ajax({
            async: true,
            data: "GET",
            dataType: "HTML",
            contentType: false,
            processData: false,
            url: '/Room/GetAllRooms',
            success: function (data) {
                $("#divLoadRoomDetails").html(data);
            },
            error: function () {
                alert("There Is Som Problem For Your Process")
            }

        });

    }

    function ResetRoomInformation() {
        $("#txtRoomNumber").val('');
        $("#txtRoomPrice").val('');
        $("#ddBookingStatus").val(1);
        $("#ddRoomType").val(1);
        $("#txtRoomCapacity").val('');
        $("#txtRoomDiscription").val('');
        $("#UploadImage").val('');
        $("#txtRoomNumber").focus();
        $("#imgRoom").removeAttr('src');
        $("#txtRoomId").val(0);
        $("#btnSave").val('Save');
    }

    function DisplayImage(result) {
        if (result.files && result.files[0]) {
            var fileReader = new FileReader();
            fileReader.onload = function (e) {
                $("#imgRoom").attr('src', e.target.result);
            }
            fileReader.readAsDataURL(result.files[0]);
        }
    }


</script>

<div style="margin-top: 50px">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#divAddRoom" data-backdrop="static" data-keyboard="false">
        Add Room
    </button>
</div>

<div class="modal fade" id="divAddRoom" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Room</h4>
            </div>
            <div class="modal-body">
                <form id="formRoom">
                    <div class="container">
                        @Html.HiddenFor(model => model.RoomId, new { id = "txtRoomId" })
                        <div class="form-group ">
                            @Html.LabelFor(model => model.RoomNumber)
                            @Html.TextBoxFor(model => model.RoomNumber, new { @class = "form-control", id = "txtRoomNumber" })
                            @Html.ValidationMessageFor(model => model.RoomNumber, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.RoomPrice)
                            @Html.TextBoxFor(model => model.RoomPrice, new { @class = "form-control", id = "txtRoomPrice" })
                            @Html.ValidationMessageFor(model => model.RoomPrice, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.BookingStatusId)
                            @Html.DropDownListFor(model => model.BookingStatusId, Model.listOfBookingStatus, new { @class = "form-control", id = "ddBookingStatus" })
                            @Html.ValidationMessageFor(model => model.BookingStatusId, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.RoomTypeId)
                            @Html.DropDownListFor(model => model.RoomTypeId, Model.listOfRoomTypes, new { @class = "form-control", id = "ddRoomType" })
                            @Html.ValidationMessageFor(model => model.RoomTypeId, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.RoomCapacity)
                            @Html.TextBoxFor(model => model.RoomCapacity, new { @class = "form-control", id = "txtRoomCapacity" })
                            @Html.ValidationMessageFor(model => model.RoomCapacity, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.RoomDiscription)
                            @Html.TextBoxFor(model => model.RoomDiscription, new { @class = "form-control", id = "txtRoomDiscription" })
                            @Html.ValidationMessageFor(model => model.RoomDiscription, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.RoomImage)
                            <input id="UploadImage" type="file" name="roomImage" class="form-control" title="Load Image" onchange="DisplayImage(this)" />
                            <img id="imgRoom" height="100" width="100" style="border:solid" />
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-success">Save</button>&nbsp;
                <button type="button" id="btnClose" data-dismiss="modal" class="btn btn-danger">Close</button>
            </div>
        </div>
    </div>
</div>
<div style="margin-top:20px"></div>
<div id="divLoadRoomDetails"></div>